<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= page.title %></title>
    <%- include('../partials/components.ejs') %>
  </head>
  <body>
    <div class="interaction">
      <%- include('../partials/sidebar.ejs') %>
      <div id="content">
        Welcome Back, <%= locals.user.username || "Guest" %>
        <ul>
          <li>Username: <%= locals.user.username || "Guest" %></li>
          <li>Email: <%= locals.user.email || "Unknown" %></li>
          <li class="createdAt">Created At: ... (milliseconds)</li>
        </ul>
      </div>
    </div>
    <script>
      const createdAt = "<%= locals.user.timestamp?.seconds || '' %>";
      if (createdAt) {
        const date = new Date(createdAt * 1000);
        const string = `${date.toDateString()}, ${date.toLocaleTimeString()}`;

        document.querySelector(
          ".createdAt"
        ).innerHTML = `<li class="createdAt">Created At: ${string}</li>`;
      }
    </script>
  </body>
</html>
