<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= page.title %></title>
    <link rel="stylesheet" href="/assets/css/auth.css" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <%- include('../partials/components.ejs') %>
  </head>
  <body>
    <div class="toasts"></div>
    <div class="auth-container">
      <div class="info-model">
        <h1>CFrum</h1>
        <h4>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed libero,
          similique adipisci debitis velit quasi nihil quae! Neque quibusdam
          voluptatum voluptas debitis quisquam laboriosam, maiores atque
          adipisci. Facere, corrupti sint.
        </h4>
      </div>
      <div class="auth-model">
        <form class="auth-content" method="post">
          <img src="/assets/imgs/avatar.png" alt="" />

          <div class="auth-header">
            <p style="font-weight: bold">Welcome</p>
            <span>Discuss about Christmas with other people</span>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-user"></i>
            </span>
            <input
              required
              type="text"
              class="form-control"
              placeholder="Username"
              id="username"
              name="username"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa-solid fa-at"></i>
            </span>
            <input
              required
              type="email"
              class="form-control"
              placeholder="Email"
              id="email"
              name="email"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">
              <i class="fa-solid fa-key"></i>
            </span>
            <input
              required
              type="password"
              class="form-control"
              placeholder="Password"
              id="password"
              name="password"
            />
          </div>
          <div class="w-100" id="btn-container">
            <button class="btn btn-primary w-100" type="submit">
              <span><i class="fa-solid fa-plus"></i></span>
              <span>Register</span>
            </button>
          </div>

          <p class="mt-2">
            Have an account?
            <a href="/auth/login">Log in</a>
          </p>
        </form>
      </div>
    </div>
  </body>

  <script>
    function displayErrorToast(message) {
      const toast_container = document.querySelector(".toasts");
      toast_container.innerHTML += `
        <div class="toast bg-danger text-white fade show errorToast">
      <div class="toast-header bg-danger text-white">
        <strong class="me-auto"
          ><i class="fa-solid fa-circle-xmark"></i> Error
        </strong>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="toast"
        ></button>
      </div>
      <div class="toast-body">${message}</div>
    </div>`;
    }

    function displayNotiToast(message) {
      const toast_container = document.querySelector(".toasts");
      toast_container.innerHTML += `
        <div class="toast bg-primary text-white fade show" id="notiToast">
      <div class="toast-header bg-primary text-white">
        <strong class="me-auto"
          ><i class="fa-solid fa-circle-exclamation"></i> Notification
        </strong>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="toast"
        ></button>
      </div>
      <div class="toast-body">${message}</div>
    </div>`;
    }

    document.addEventListener("DOMContentLoaded", function () {
      if ("<%= query.error %>") {
        displayErrorToast("<%= query.error %>");
      } else;
      if ("<%= query.notification %>") {
        displayNotiToast("<%= query.notification %>");
      }

      const form = document.querySelector("form");
      form.onsubmit = async () => {
        event.preventDefault();
        document.querySelector("#btn-container").innerHTML = `
        <div class="w-100" id="btn-container">
            <button class="btn submit-btn btn-primary w-100" type="submit" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span>Handling...</span>
            </button>
          </div>
    `;
        let request;
        try {
          request = await fetch("/auth/register", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              username: form.username.value || "",
              email: form.email.value || "",
              password: form.password.value || "",
            }),
          });
        } catch (err) {
          console.log(err);
          displayErrorToast(`${err}`);
        }
        let data;
        try {
          data = (await request.json()) || JSON.parse(await request.text());
        } catch (err) {
          displayErrorToast(`${err}`);
          console.log(err);
          return (document.querySelector("#btn-container").innerHTML = `
            <div class="w-100" id="btn-container">
            <button class="btn submit-btn btn-primary w-100" type="submit">
              <span><i class="fa-solid fa-right-to-bracket"></i></span>
              <span>Log In</span>
            </button>
          </div>
    `);
        }
        if (data.statusCode >= 200 && data.statusCode <= 300) {
          const queryNotification = 
          document.querySelector("#btn-container").innerHTML = `
            <div class="w-100" id="btn-container">
            <button class="btn submit-btn btn-primary w-100" type="submit" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span>Redirecting...</span>
            </button>
          </div>
    `;
          `<% let serialize = function(obj) {
  var str = [];
  for (var p in obj)
    if (obj.hasOwnProperty(p)) {
      str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
    }
  if(str.length) return "";
  else return "?" + str.join("&")
}
let queryString = serialize({
  ...query,
  notification: "Please use your new account to log in"
})
          %>`
          location.href = '/auth/login/<%= queryString %>';
        } else {
          console.log(data);
          displayErrorToast(`${data.message}`);
          document.querySelector("#btn-container").innerHTML = `
            <div class="w-100" id="btn-container">
            <button class="btn submit-btn btn-primary w-100" type="submit">
              <span><i class="fa-solid fa-plus"></i></span>
              <span>Register</span>
            </button>
          </div>
    `;
        }
      };
    });
  </script>
</html>
